@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
:root {
  --color-content-background: #ecf3f8;
  --color-dark: #181c29;
  --color-overlay: rgb(24 28 41 / 80%);
  --color-primary: #ff4646;
  --color-primary-10: rgb(255 70 70 / 10.2%);
  --color-static-white: #ffffff;
  --color-static-white-20: rgb(255 255 255 / 20%);
  --color-static-white-40: rgb(255 255 255 / 40%);
  --color-tag-green: #06a44f;
  --color-tag-pink: #ff43f7;
  --color-tag-purple: #4361ff;

  --space-0: 0px;
  --space-8: 8px;
  --space-12: 12px;
  --space-20: 20px;
  --space-32: 32px;
  --space-60: 60px;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
